:root{
    --prim_cor: #041562;
    --sec_cor: #11468F;
    --ter_cor: #DA1212;
    --quar_cor:#EEEEEE;
}
a{
    color: green;
    text-decoration: none;
}
body{
    background-color: var(--sec_cor);
}
body #navbar{
    background-color: var(--quar_cor);
}
.cards{
    margin-top: 10%;
}
.container-fluid img{
    width: 10vw;
    height: auto;
}
label{
    color: cornsilk;
}

/*verificar se o c'odigo abaixo funciona amanh~a (dia 3)*/
/*O coment'ario acima desse foi escrito dia 02/07/2023*/
/* Autoria de Rafael Checchia Moreno*/
.easter-egg{
    display: hidden;
}
@media (min-width:320px){
    .easter-egg{
        display: block;
    }
}